.add-task{
    display: flex;
    flex-direction: column;
    min-width: 33%;
    background-color: rgb(255, 255, 255);
    margin-right: 3vmin;
    border-radius: 0.5vmin;
    .title-input{
        width: 80%;
        margin: 3vh auto 0 auto;
        border-radius: 0.40vmin;
        border: 0.2vmin solid #ccc;
    }
    .description-input{
        width: 80%;
        margin: 3vh auto 0 auto;
        height: 30vh;
        border-radius: 0.40vmin;
        border: 0.2vmin solid #ccc;
    }
    .bouton-save{
        width: 81.5%;
        line-height: 2;
        margin: 3vh auto 3vh auto;
        border: 0;
        border-radius: 0.60vmin;
        background-color: rgb(40, 167, 69);
        font-size: 2.5vmin;
        font-weight: normal;
        color: rgb(255, 255, 255);
    }
    .bouton-save:active{
        background-color: rgb(48, 201, 82);
    }
}