tr{
    background-color: rgb(255, 255, 255);
    td{
        font-size: 2.35vmin;
        padding: 3vmin 2vmin 4vmin 2vmin;
        button{
            border-radius: 0.5vmin;
            border-width: 0;
            background-color: rgb(220, 53, 69);
            padding: 1.60vmin;
            font-size: 2.25vmin;
            color: rgb(255, 255, 255);
        }
        button:active{
            background-color: rgb(255, 0, 25);
        }
    }
    .title-cell{
        border-radius: 0.5vmin 0 0 0.5vmin;
    }
    .button-cell{
        border-radius: 0 0.5vmin 0.5vmin 0;
    }
}