.display-task {
    width: 100%;
    overflow-y: auto;
    height: 75vh;
    margin-left: 3vmin;
    border-radius: 1vmin;
    .table-task{
        width: 100%;
        table-layout: fixed;
        text-align: left;
        border-spacing: 0 2vmin;
        .table-head{
            position: sticky;
            top: 0;
            font-size: 4vmin;
            color: rgb(255, 255, 255);
            background-color: rgb(14, 54, 84);
            .delete-head{
                width: 10%;
            }
        }
    }
}
.display-task::-webkit-scrollbar {
    display: none;
}