body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(14, 54, 84);
    color: rgb(53, 83, 106);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App{
    margin: 0;
    padding: 0;
    .main-box{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8vh;
    }
}